@use "../../styles/abstracts" as *;

.primary {
  border-radius: 20%;
  background: none;
}

.secondary {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: $cl-secondary;
  color: $cl-white;
}