@use "../../styles/abstracts" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cl-primary;
}

.primary {
  border-radius: 20%;
}

.secondary {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: 0.3s;
}

.secondary:hover {
  width: 50px;
  height: 50px;
}